<%= render 'devise/navbar' %>

<% @users.each do |user| %>
  <div>
    <%= link_to user.name, user %>
    <%= link_to "Send a Friend Request", new_friend_request_path(:friend_request => {:sender_id => current_user.id, :receiver_id => user.id, :acceptance => 0}) %>
  </div>
<% end %>