<h1>Upcoming Events</h1>
<% @upcoming_events.each do |event| %>
  <%= event.title %>
  <%= event.date %>
<% end %>

<H1>Past Events</H1>
<% @past_events.each do |event| %>
  <%= event.title %>
  <%= event.date %>
<% end %>